# Secrets
**/.env*
!**/.env.example

# Dependencies
.venv/

# Build Artifacts
dist/
*.egg-info/

# Tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ty/
**/__pycache__/
**/__marimo__/
**/.vscode/*
!**/.vscode/extensions.json
.claude/*
!.claude/agents/
!.claude/references/
!.claude/rules/
!.claude/skills/
!.claude/settings.json

# Meta
**/.DS_Store
