name: Continuous Integration

run-name: 'ci: continuous integration'

on:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  workflow:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout Codebase
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: '**/uv.lock'

      - name: Setup Python
        run: uv python install 3.13

      - name: Install Dependencies
        run: uv sync

      - name: Run Ruff Format Check
        run: make format

      - name: Run Ruff Lint
        run: make lint

      - name: Run Type Check
        run: make types
