name: Workflows Cleanup

run-name: 'ci(github): clean up old workflow runs'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  workflow:
    runs-on: ubuntu-latest

    permissions:
      actions: write
      contents: read

    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 14
          keep_minimum_runs: 1
